<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>李建樂助理教授實驗團隊簡介</title>
    <meta name="description" content="本網頁簡介李建樂助理教授與其實驗團隊">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/style3.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="./HomePage.html">Lab</a></li>
            <li><a href="./Professor.html">Professor</a></li>
            <li><a href="./Member.html">Members</a></li>
            <li><a href="./Thisis.html">Thisis</a></li>
            <li class="logo">logo</li>
        </ul>
    </nav> 

    <header>
        <h1 class="headertitle">Lab Members</h1>
    </header>    
        
    <main>
        <div>
            <h1>研究助理</h1>
            <div class = "inline">
                <h3>&ensp;&ensp;&ensp;&emsp;</h3>
                <p>張如儀</p>
            </div>
        </div>
        <div>
            <h1>北科研究生</h1>
            <h2>碩士</h2>
            <div class = "inline">
                <h3>113年</h3>
                <p>蘇聖傑 | 鄭力瑋</p>
            </div>
        </div>
        <div>
            <h1>共同指導研究生</h1>
            <h2>博士</h2>
            <div class = "inline">
                <h3>113年</h3><p>鄭柏裕</p>
            </div>
            <div class = "inline">
                <h3>112年</h3><p>李沅達</p>
            </div>
            <h2>碩士</h2>
            <div class = "inline">
                <h3>113年</h3><p>林蘭伃</p>
            </div>
            <div class = "inline">
                <h3>111年</h3><p>何彥禛</p>
            </div>
        </div>
        <div>
            <h1>畢業學長姊</h1>
            <h2>畢業於</h2>
            <div class = "inline">
                <h3>112年</h3><p>劉姜麟	| 曾于瑄</p>
            </div>
            <div class = "inline">
                <h3>111年</h3><p>張珊慈	| 宋家妤</p>
            </div>
        </div>
    </main>

    
</body>
</html>