
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;  
}
/*-----------------------------------------------------------*/  
body{
  padding-bottom: 5rem;
  min-height: 100vh;
  background-color: #FFFFCD;
}
/*-----------------------------------------------------------*/  
nav {
  background-color: black;
}    
nav ul {
  display: flex;
  padding-left: 1rem;
  list-style-type:  none;
}
nav ul li {
  display: flex;
}
nav ul li a {
  padding: 0.75rem 1rem;
  color: white;
  text-decoration-line: none;
  transition: all 0.25s ease;
}
nav ul li a:hover {
  background-color: gray;
}
.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 0.75rem 1rem;
}
/*-----------------------------------------------------------*/  
header {
  width: 100%;
  height: 30vh;
  padding: 5rem 1rem;
  background-image: url('../Picture/Bioinfomatics.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 35%;
} 
.headertitle {  
  padding-right: 5rem;
  font-size: 45pt;
  color: white;
  text-align: right;
}
/*-----------------------------------------------------------*/  
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}   
main div h1{
  padding: 1rem;
  font-size: 30pt;
  color: black;
}
main div h2{
  padding: 1rem;
  font-size: 25pt;
  color: black;
}
/*-----------------------------------------------------------*/  
#dropdown {
  font-size: 25px; /* 增加字體大小 */
  padding: 1rem; /* 增加填充 */
  width: 20%; /* 調整寬度 */
  height: auto; /* 調整高度 */
}
.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem;
}

.container {
  display: flex;
  align-items: center; /* Centers items vertically */
}

.member {
  display: flex;
  flex-direction: column; /* Aligns items vertically */
  align-items: center; /* Centers items horizontally */
  padding:1rem
}

.member img { 
  height: auto; /* Keeps the aspect ratio of the image */
  border-radius: 50%; /* Makes the image circular */
}

.member p {
  padding: 1rem; /* Adds space between the image and the name */
  text-align: center; /* Centers the text */
  font-size: 15pt;
  color: black;
}
/*-----------------------------------------------------------*/  
@media screen and (max-width: 1200px) {
  nav ul {
    flex-direction: column;
    display: none;
  }
  nav ul li {
    text-align: left;
  }
  .menu-icon {
    background-color: #191432;
    display: block; 
  }
  .active {
    display: flex; 
  }
/*-----------------------------------------------------------*/  
  header {
    padding: 6rem 0rem;
    height: 35vh;
    background-position-y: 25%;
  }
  .headertitle {  
    padding-right: 0.5rem;
    font-size: 40pt;
    text-align: right;
  }
/*-----------------------------------------------------------*/     
  main div h1 {
    font-size: 25pt;
  }
  main div h2 {
    font-size: 22pt;
  }
/*-----------------------------------------------------------*/  
  #dropdown {
    font-size: 25px; /* 增加字體大小 */
  }
  .container {
    display: flex;
    align-items: center; /* Centers items vertically */
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding: 5rem 0rem;
    height: 30vh;
    background-position-y: 25%;
  }
  .headertitle {
    font-size: 35pt;
  }
  /*-----------------------------------------------------------*/  
  main div h1 {
    font-size: 24pt;
  }
  main div h2{
    font-size: 22pt;
  }
  /*-----------------------------------------------------------*/  
  #dropdown {
    font-size: 21px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 4rem 0rem;
    height: 25vh;
    background-position-y: 35%;
  }
  .headertitle {
    font-size: 30pt;
  }
  /*-----------------------------------------------------------*/  
  main div h1 {
    font-size: 22pt;
  }
  main div h2{
    font-size: 20pt;
  }
  /*-----------------------------------------------------------*/  
  #dropdown {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 1rem 0rem;
    height: 20vh;
    background-position-y: 30%;
  }
  .headertitle {
    font-size: 20pt;
  }
  /*-----------------------------------------------------------*/  
  main div h1 {
    font-size: 20pt;
  }
  main div h2{
    font-size: 18pt;
  }
  /*-----------------------------------------------------------*/  
  #dropdown {
    font-size: 15px;
  }
}